/* Properties that both side lists have in common */
/* we leave some place on the side using the margin-* properties */
#test {
	position:absolute;
	width:300px;
	height:300px;
	background:red;
	display:none;
}
body {
	padding:0px;
	margin:0px;	
	background-color:#4A728F;
	height:100%;
}
#main {
	padding:0px;
	margin:0px;
	background: -webkit-gradient(
  		radial, 50% 140, 80, 50% 140, 150, from(#CE803D), color-stop(0.4, #AAAAAA), to(#4A728F)
	);
}
#outerHeader {
	padding:0;
	margin:0;
	height:0px;
}
#title {
	top:20px;
	left:20px;
	position:absolute;	
}
#leftMargin {
	left:0;
	width:10em;
	height:300px;
	top:190px;
	position:absolute;
	font-size:80%;
	padding-top:6px;
	padding-left:10px;
	margin:10px;
	background-color:white;
	filter:alpha(opacity=75);
	opacity:.75;
	overflow: hidden;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
}
#content {	
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	width:800px;
	min-width:800px;
	height:100%;
	min-height:450px;
	background-color:white;
	filter:alpha(opacity=75);
	opacity:.75;
	
}
#rightMargin {
	right:0;
	width:10em;
	height:300px;
	top:190px;
	position:absolute;
	font-size:80%;
	padding-top:6px;
	padding-right:10px;
	margin:10px;
	background-color:white;
	filter:alpha(opacity=75);
	opacity:.75;
	overflow: hidden;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
	text-align:right;
}
#banner {
	height:158px;
	border:none;
}
#banner a {
	text-decoration:none;	
}
#topToolbar {
	padding-left:5px;
	padding-top:6px;
	height:25px;
	border-bottom:1pt #999999 solid;
}
#topToolbar a {
	text-decoration:none;	
}
#bodyContent {
	text-align:left;
	width:auto;
	padding:6px;
	height:100%;
	filter:alpha(opacity=9);
	opacity:.9;
}
#innerFooter {
	text-align:center;
	padding:15px
	filter:alpha(opacity=90);
	opacity:.9;;
}
#outerFooter {
	text-align:center;
	padding-top:3px;
	height:50px;
	width:100%;
}
#outerFooter a {
	text-decoration:none;	
}
.goal{
	width: 450px;
	background-color: #FFD4FF;
    border: 2px solid #AAAAAA;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
	padding:2px;
	margin:1px;
    border-radius: 12px;
}
#dbadmin {
	width=800px;
	overflow-x:scroll;	
}
div.sample_popup { z-index: 1; }

div.sample_popup div.menu_form_body
{
  width: 200px;
  border: 1px solid black;
  background: top left url('http://www.examiner.com/images/blog/wysiwyg/image/yellow(1).png') no-repeat;
}

div.sample_popup input.field
{
  width: 95%;
  border: 1px solid #808080;
}