div.sample_popup { z-index: 1; }

div.sample_popup div.menu_form_header
{
  border: 1px solid black;
  border-bottom: none;

  width: 200px;
  height:      20px;
  line-height: 19px;
  vertical-align: middle;

  background: right url('http://www.zymic.com/images/tutorials/steps/id118_step14_preview.gif');

  text-decoration: none;
  font-family: Times New Roman, Serif;
  font-weight: 900;
  font-size:  13px;
  color:   #206040;
  cursor:  default;
}

div.sample_popup div.menu_form_body
{
  width: 200px;
  border: 1px solid black;
  background: top left url('http://www.examiner.com/images/blog/wysiwyg/image/yellow(1).png') no-repeat;
}


div.sample_popup input.field
{
  width: 95%;
  border: 1px solid #808080;
}